.App {
  background-color: rgb(80, 94, 116);
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 1em;
  color: rgb(160, 185, 205);
}

.App-title {
  font-size: 1.5em;
}

