body {
  height: auto;
  background-color: #4B4952;
}

.App {
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: #1F2024;
  padding: 1em;
  color: #A68F97;
}

.App-title {
  font-size: 1.5em;
}

